<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock %} </title>
</head>
<body>

    <nav>
        <a href="/">Pawprint</a> || 
        {% if g.user %} 
        <a href="/bookmarks">Bookmarks</a> |
        <a href="/follows">Follows</a> |
        <a href="/profile">Profile</a> | 
        <a href="/logout">Logout</a>
        {% else %} 
        <a href="/login">Login</a> | 
        <a href="/signup">Signup</a>
        {% endif %} 
    </nav>

    <h1>
        Pawprint
    </h1>

    {% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
    {% endfor %}

    {% block content %}

    {% endblock %} 
    
    <footer>
        <small>
            Pawprint Capstone Project by Gabriel E. Ramirez
        </small>
    </footer>
    
</body>
</html>