{% extends 'base.html' %} 

{% block title %} Animal Welfare Organizations {% endblock %} 

{% block content %} 

<h2>Animal Welfare Organizations</h2>

<h3>Advanced Search</h3>
<!-- THIS IS WHERE THE FORM GOES GABRIEL -->
<form method="POST" id="organization_search_form">
    {{ form.hidden_tag() }} 

        {% for field in form 
            if field.widget.input_type != 'hidden' %} 

            <p>
                {{ field.label }} 
                {{ field }} 

                {% for error in field.errors %} 
                    {{ error }}
                {% endfor %} 
            </p>

        {% endfor %} 

        <button type="submit">Refine Search</button>
</form>

<h3>Results</h3>
{% for organization in organizations %} 
<div>
    <p><b>{{ organization.name }}</b></p>

    {% if organization.photos and organization.photos[0] %}
    <img src="{{ organization.photos[0].large }}" alt="Image of {{ organization.name }}">
    {% else %} 
    <img src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg?20200913095930" alt="No image available for {{ organization.name }}">
    {% endif %}
    <form action="/organizations/follow" method="post" data-organization_id="{{ organization.id}}">
        <input type="hidden" name="organization_id" value="{{ organization.id}}">
        <button type="submit">Follow Organization</button>
    </form>
</div>

{% endfor %} 

<footer>
    <p>Current Page: <b>{{ pagination.current_page}}</b></p>

    {% if pagination._links.previous %}
    <p><a href="/organizations?page={{ pagination.current_page - 1 }}">Previous</a></p>
    {% endif %} 

    {% if pagination._links.next %} 
    <p><a href="/organizations?page={{ pagination.current_page + 1 }}">Next</a></p>
    {% endif %}
</footer>

{% endblock %}