{% extends 'base.html' %} 

{% block title %} Pets {% endblock %} 

{% block content %} 

<h2>Pets</h2>

<h3>Advanced Search</h3>
<!-- THIS IS WHERE THE FORM GOES GABRIEL -->
<form method="POST" id="pet_search_form">
    {{ form.hidden_tag() }} 

        {% for field in form 
            if field.widget.input_type != 'hidden' %} 

            <p>
                {{ field.label }} 
                {{ field }} 

                {% for error in field.errors %} 
                    {{ error }}
                {% endfor %} 
            </p>

        {% endfor %} 

        <button type="submit">Refine Search</button>
</form>

<h3>Results</h3>
{% for pet in pets %} 
<div>
    <p><b>{{ pet.name }}</b></p>

    {% if pet.primary_photo_cropped %}
    <!-- <img src="{{ pet.photos[0].get('large')}}" alt="Image of {{ pet.name }}">  -->
    <img src="{{ pet.primary_photo_cropped.large }}" alt="Image of {{ pet.name }}">
    {% else %} 
    <img src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg?20200913095930" alt="No image available for {{ pet.name }}">
    {% endif %}

    <p><a href="/pets/{{ pet.id }}">More Details</a></p>

    <form action="/pets/bookmark/{{ pet.id }}" method="post" data-pet_id="{{ pet.id }}" data-organization_id="{{ pet.organization_id}}">
        <input type="hidden" name="pet_id" value="{{ pet.id }}">
        <input type="hidden" name="organization_id" value="{{ pet.organization_id}}">
        <button type="submit">Bookmark Pet</button>
    </form>
</div>

{% endfor %} 

<footer>
    <p>Current Page: <b>{{ pagination.current_page}}</b></p>

    {% if pagination._links.previous %}
    <p><a href="/pets?page={{ pagination.current_page - 1 }}">Previous</a></p>
    {% endif %} 

    {% if pagination._links.next %} 
    <p><a href="/pets?page={{ pagination.current_page + 1 }}">Next</a></p>
    {% endif %}
</footer>

{% endblock %}