{% extends 'base.html' %} 

{% block title %} Bookmarks {% endblock %} 

{% block content %} 

<h2>Bookmarked Pets</h2>

{% for pet in pets %} 
<div>
    <b>{{ pet.name }}</b>
    <img src="{{ pet.image_url }}" alt="Image of {{ pet.name }}">
    <b>{{ pet.status }}</b>
    <ul>
        <li>Type: {{ pet.type }}</li>
        <li>Species: {{ pet.species }}</li>
        <li>Breed: {{ pet.breed }}</li>
        <li>Color: {{ pet.color }}</li>
        <li>Age: {{ pet.age }}</li>
        <li>Gender: {{ pet.gender }}</li>
        <li>Size: {{ pet.size }}</li>
        <li>Description: {{ pet.description }}</li>
        <li>Organization: <a href="/organizations/{{ pet.organization_id }}">{{ pet.organization.name }}</a></li>
    </ul>

    <form action="/bookmarks/remove" method="post" data-pet_id="{{ pet.id }}">
        <input type="hidden" name="pet_id" value="{{ pet.id }}">
        <button type="submit">Remove Bookmark</button>
    </form>
</div>

{% endfor %} 

{% endblock %}